body{
    margin: 0;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color:rgba(255, 255, 255, 0) ;
  transition: background-color 0.5s ease, border-bottom 0.5s ease;
  text-align: center;
  padding: 25px 0 15px 0;
  border-bottom: 1px solid #ddd
}
.Danny h1{
    margin: 0;
    font-size: 42px;
    letter-spacing: 8px;
}
.Euro{
    margin: 5px 0 0;
    font-weight: normal;
    letter-spacing: 6px;
}
nav{
    padding-bottom: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    margin: 0 18px;
    font-size: 13px;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

nav a:hover {
    color: #c5a880;
}
.contenedorPrincipal{
    display: flex;
    background-color: aqua;
}
aside{
    width:20%;
    background-color: blueviolet;
}
main{
    width: 60%;
    padding: 40px;
}

