body{
    margin: 0;
    padding-top: 200px;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color:rgba(255, 255, 255, 0) ;
  transition: background-color 0.5s ease, border-bottom 0.5s ease;
  padding: 25px 0 15px 0;
  text-align: center;
  z-index: 9999;
}
header:hover{
    background-color: rgba(255, 255, 255, 1);
}
.Danny h1{
   font-family: cursive;
   margin: 0;
   height: 60px;;
   
}
.Euro{
 font-size: 12px;
 letter-spacing: 3px;
 text-transform: uppercase;
 margin-bottom: 15px;
}
nav{
    padding-bottom: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    margin: 0 18px;
    font-size: 13px;
    letter-spacing: 2px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px 0;
}

.madrid {
    letter-spacing: 3px;
    font-size: 12px;
    margin: 0;
}

.linea {
    width: 60%;
    height: 1px;
    background-color: #c5a880;
    margin: 10px auto;
}
.redes {
    text-align: center;
    padding: 15px 0;
}

.redes a {
    color: #111;
    font-size: 22px;
    letter-spacing: 10px;
    margin: 0 18px;
    text-decoration: none;
}